<template>
  <div
    style="font-family: 'Poppins', sans-serif"
    class="q-pa-sm bg-deep-purple-1 q-col-gutter-md"
  >
    <!-- <div class=""> -->
    <q-stepper
      class="bg-deep-purple-1"
      alternative-labels
      style="box-shadow: none !important"
      v-model="step"
      ref="stepper"
      color="primary"
      animated
    >
      <q-step :name="1" title="Form filling" icon="settings" :done="step > 1">
      </q-step>
      <q-step
        :name="2"
        title="Document upload"
        icon="create_new_folder"
        :done="step > 2"
      >
      </q-step>
      <q-step :name="3" title="Form submission" icon="add_comment" />
    </q-stepper>

    <div v-if="toggleStep == 'first'">
      <div class="q-gutter-sm text-caption q-pb-md q-ml-sm">
        <q-btn
          :class="income ? 'customBtn' : ''"
          @click="toggleIncome"
          dense
          size="sm"
          class="q-px-md"
          rounded
          outline
          color="grey"
          label="Income"
        />
        <q-btn
          :class="no_income ? 'customBtn' : ''"
          @click="toggleNoIncome"
          dense
          size="sm"
          class="q-px-md"
          rounded
          outline
          color="grey"
          label="No Income"
        />
        <q-btn
          :class="residential ? 'customBtn' : ''"
          @click="residential = !residential"
          dense
          size="sm"
          class="q-px-md"
          rounded
          outline
          color="grey"
          label="Residential"
        />
        <q-btn
          :class="tribal ? 'customBtn' : ''"
          @click="tribal = !tribal"
          dense
          size="sm"
          class="q-px-md"
          rounded
          outline
          color="grey"
          label="Tribal"
        />
        <q-btn
          :class="permanent ? 'customBtn' : ''"
          @click="permanent = !permanent"
          dense
          size="sm"
          class="q-px-md"
          rounded
          outline
          color="grey"
          label="Permanent Address"
        />
      </div>

      <q-form @submit.prevent="onSubmit">
        <q-card
          class="full-width q-py-none"
          style="width: 100%; box-shadow: none"
        >
          <q-card-section>
            <!-- <span class="text-deep-purple-5">Personal Info</span> -->
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              Personal info
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              
              label="Full Name"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              label="Date of Birth"
              dense
              v-model="date"
              mask="date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="YYYY-MM-DD" v-model="date">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-card-section>
          <q-card-section class="q-pt-none text-caption">
            <label for="">Gender</label>
            <q-option-group
              class="text-caption"
              dense
              lab
              size="xs"
              :options="genders"
              type="radio"
              v-model="gender"
            />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Place of Birth"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Fathers's Name"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mother's name"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mobile Number"
              type="number"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Email"
              type="email"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Aadhar number"
              outlined
            ></q-input>
          </q-card-section>
          <div>
            <q-checkbox
              class="text-caption"
              label="I would like to push this certificate to my digitallocker account."
            />
          </div>
          <q-card-section class="">
            <div class="q-pb-sm text-caption">
              Relationship to display in certificate
            </div>
            <q-option-group
              class="text-caption"
              dense
              size="xs"
              :options="relations"
              v-model="relation"
              type="radio"
            />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Father's Name"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <div class="q-pb-sm text-caption">Electoral Photo ID card *</div>
            <q-radio
              size="xs"
              class="q-ml-sm text-caption"
              dense
              v-model="gender"
              val="line"
              label="Applicant is above 18 years
        "
            />
            <q-radio
              size="xs"
              class="q-ml-sm q-mt-sm text-caption"
              dense
              v-model="gender"
              val="line"
              label="Applicant is below 18 years
        "
            />
          </q-card-section>
          <q-card-section class="q-py-sm">
            <div class="q-pb-sm text-caption">Related EPIC holder*</div>
            <q-radio
              size="xs"
              class="q-ml-sm text-caption"
              dense
              v-model="gender"
              val="line"
              label="Father
        "
            />
            <q-radio
              size="xs"
              class="q-ml-sm text-caption"
              dense
              v-model="gender"
              val="line"
              label="Mother"
            />
          </q-card-section>
          <q-card-section class="q-py-sm">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of the holder"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="EPIC No"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Constituency"
              outlined
            ></q-input>
          </q-card-section>
        </q-card>
        <q-card class="full-width q-pb-md q-py-none" style="width: 100%">
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              Application present address
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="House address"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="City/Village"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-select
              lazy-rules
              :rules="[
                (val) => val.length > 0 || 'Please use maximum 3 characters',
              ]"
              outlined
              dense
              required
              :options="options"
              label="District"
            />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Pincode"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section
            class="q-py-md text-subtitle1 text-weight-light text-deep-purple-5"
          >
            Application Permanent Address
          </q-card-section>
          <q-card-section class="q-pt-none text-caption">
            <q-checkbox size="xs" dense label="Same as present address " />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="House address"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="City/Village"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-sm">
            <q-select outlined dense :options="options" label="District" />
          </q-card-section>
          <q-card-section class="q-py-sm">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Pincode"
              outlined
            ></q-input>
          </q-card-section>
          <!-- <q-card-section class="q-py-none">
          <q-input
          lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]" color="deep-purple-5"
            type="textarea"
            dense
            label="Purpose of the certificate"
            outlined
          ></q-input>
        </q-card-section> -->
          <!-- <q-card-section>
          <q-btn outlined color="green" class="full-width" label="Proceed" />
        </q-card-section> -->
        </q-card>
        <!-- Income certificate -->
        <q-card
          class="full-width q-pb-md q-mt-md q-py-none"
          style="width: 100%"
        >
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              Income certificate details
            </div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="q-pb-sm text-caption">Govt. employees*</div>
            <q-option-group
              class="text-caption"
              dense
              size="xs"
              :options="govts"
              v-model="govt"
              type="radio"
            />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Father's occupation"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Father's income"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mothers's occupation"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mother's income"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <q-select
              outlined
              dense
              :options="payscale"
              label="Parent's payscale/Level"
            />
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Total Anually"
              outlined
            ></q-input>
          </q-card-section>
          <!-- <q-card-section class="q-py-none">
          <q-input
          lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]" color="deep-purple-5"
            type="textarea"
            dense
            label="Purpose of the certificate"
            outlined
          ></q-input>
        </q-card-section>
        <q-card-section>
          <q-btn outlined color="green" class="full-width" label="Proceed" />
        </q-card-section> -->
        </q-card>
        <!-- No Income certificate -->
        <q-card
          class="full-width q-pb-md q-mt-md q-py-none"
          style="width: 100%"
        >
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              No Income certificate details
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Father's income"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mother's income"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Total Income"
              outlined
            ></q-input>
          </q-card-section>
          <!-- <q-card-section class="q-py-none">
          <q-input
          lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]" color="deep-purple-5"
            type="textarea"
            dense
            label="Purpose of the certificate"
            outlined
          ></q-input>
        </q-card-section>
        <q-card-section>
          <q-btn outlined color="green" class="full-width" label="Proceed" />
        </q-card-section> -->
        </q-card>
        <!-- Residential certificate -->
        <q-card
          class="full-width q-pb-md q-mt-md q-py-none"
          style="width: 100%"
        >
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              Residential certificate details
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of Grandfather"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of locality"
              outlined
            ></q-input>
          </q-card-section>
        </q-card>
        <!-- Tribal certificate -->
        <q-card
          class="full-width q-pb-md q-mt-md q-py-none"
          style="width: 100%"
        >
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              <span class="text-deep-purple-5">Tribal certificate details</span>
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of Tribe/Caste"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of Clan/Caste"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Fathers Tribe/Caste"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Mother's Tribe/Caste"
              outlined
            ></q-input>
          </q-card-section>
        </q-card>
        <!-- Permanant Residential -->
        <q-card
          class="full-width q-pb-md q-mt-md q-py-none"
          style="width: 100%"
        >
          <q-card-section class="q-pt-none">
            <div class="text-subtitle1 text-weight-light text-deep-purple-5">
              Permanent Residential certificate details
            </div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of Grandfather"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of locality"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              dense
              label="Name of locality"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              label="From"
              dense
              v-model="date"
              mask="date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="YYYY-MM-DD" v-model="date">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              label="To"
              dense
              v-model="date"
              mask="date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="YYYY-MM-DD" v-model="date">
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </q-card-section>
          <q-card-section class="q-py-none">
            <q-input
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
              color="deep-purple-5"
              type="textarea"
              dense
              label="Purpose of the certificate"
              outlined
            ></q-input>
          </q-card-section>
          <q-card-section>
            <q-btn
              outlined
              color="green"
              type="submit"
              class="full-width"
              label="Proceed"
            />
          </q-card-section>
        </q-card>
      </q-form>
    </div>

    <q-dialog v-model="card">
      <q-card class="full-width">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Income certificate</div>

          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section class="q-pt-none text-caption">
          MZ-INC2100001
        </q-card-section>

        <q-card-section class="q-pt-none">
          Your application status
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-stepper
            vertical
            class="q-pt-none"
            alternative-labels
            style="box-shadow: none !important"
            v-model="step"
            ref="stepper"
            color="primary"
            animated
          >
            <q-step
              :name="1"
              title="Application submitted on 23/Aug/2021 12:01 pm"
              icon="settings"
              :done="step > 1"
            >
            </q-step>
            <q-step
              :name="2"
              title="Verified"
              icon="create_new_folder"
              :done="step > 2"
            >
            </q-step>

            <q-step :name="3" title="Approved" icon="add_comment" />
            <q-step
              :name="4"
              title="Paid"
              icon="create_new_folder"
              :done="step > 4"
            >
            </q-step>
          </q-stepper>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="approved">
      <q-card class="full-width">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">Income certificate</div>

          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section horizontal class="q-pl-xs">
          <q-card-section class="q-px-sm"> LaldingLiani Sailo </q-card-section>
          <q-card-section class="q-px-sm"> IC1243534546 </q-card-section>

          <!-- <q-separator vertical /> -->

          <q-card-section class="q-px-sm"> 08-01-2019 </q-card-section>
        </q-card-section>

        <q-card-actions>
          <q-btn size="md" class="e-btn" color="primary" label="PAY NOW" />
          <!-- <q-btn flat>Action 2</q-btn> -->
        </q-card-actions>

        <!-- <q-card-section class="q-pt-none"> </q-card-section> -->
        <q-card-section
          class="block-card row justify-center q-px-sm text-subtitle1"
        >
          <div class="q-pb-none text-center">
            <q-img width="50%" src="~assets/block.svg" />
            <p class="text-white text-caption">Pay now to view document</p>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <uploaded v-if="toggleStep == 'second'" />
  </div>
</template>
<script>
import { ref, onMounted } from "vue";
import { useQuasar } from "quasar";
import Uploaded from "../components/Uploaded.vue";
import { api } from "src/boot/axios";
export default {
  setup() {
    //  const $q = useQuasar()
    //   $q.dialog({ }) // returns Object
    const isIncome  = ref(false);
    const isNoIncome = ref(false);
    const income = ref({
      annual_income: "",
      annual_income: 2788,
      father_income: "",
      father_occupation: "",
      father_payscale: "",
      govt_employee: "",
      mother_income: "",
      mother_occupation: " ",
      mother_payscale: " ",
      purpose: "",
    });

    const no_income = ref({
      annual_income: 0,
      annual_income: 0,
      father_income: "",
      father_occupation: "NA",
      father_payscale: "",
      govt_employee: "NA",
      mother_income: 0,
      mother_occupation: "NA",
      mother_payscale: " ",
      purpose: "",
    });

    const permanent = ref({
      grandfather: "",
      grandfather_residences: [
        {
          from: "",
          locality: "",
          to: "",
        },
      ],
    });

    const permanent_address = ref({
      city: "",
      district: "",
      full_address: " ",
      pincode: "",
    });

    const personal_detail = ref({
      aadhaar_no: "454454545454",
      adult: "no",
      applicant_name: "Sylvia Weeks",
      birth_place: "Dolores non aliquam ",
      constituency: "dgfdg",
      dob: "1989-02-14",
      email: "xetesaby@mailinator.com",
      epic_holder: "Optio occaecat face",
      epic_no: "sfdfd",
      epic_relation: "Father",
      father_name: "Frances Brock",
      gender: "Female",
      mother_name: "Xantha Turner",
      phone_no: "4444444444",
      relation: "Father",
      relation_name: "April Whitaker",
      relation_title: "Mr",
      title: "Mr",
    });

    const present_address = ref({
      city: "Dolore ducimus quid",
      district: "aizawl",
      full_address: "Doloremque esse pari",
      pincode: "Ullam aut eius recus",
    });

    const purpose = ref("");

    const residential = ref({
      grandfather: "fdg",
      locality: "dgd",
      purpose: "",
    });

    const tribal = ref({
      category: "Schedule Tribe",
      clan_name: "",
      father_tribe: "",
      mother_tribe: "",
      purpose: "",
      tribe_name: "",
    });

    onMounted(() => {
      // console.log("income", income.value);
      api.get("/master-data").then();
    });

    function onSubmit() {
      console.log("form submitted");
    }

    function toggleIncome() {
      income.value = !income.value;
      if (income.value) no_income.value = false;
    }

    function toggleNoIncome() {
      no_income.value = !no_income.value;
      if (no_income.value) income.value = false;
    }
    return {
      toggleIncome,
      toggleNoIncome,
      onSubmit,
      toggleStep: ref("first"),
      card: ref(false),
      approved: ref(true),
      step: ref(1),
      income,
      no_income,
      residential: ref(false),
      tribal: ref(false),
      permanent: ref(false),
      gender: ref(""),
      genders: [
        { label: "Male", value: "Male", color: "green" },
        { label: "Female", value: "friend", color: "green" },
      ],
      options: [
        { label: "BMW", value: "car" },
        { label: "Samsung Phone", value: "phone" },
      ],

      date: ref("2019-02-15"),
      payscale: [
        "Level 1",
        "Level 1A",
        "Level 2",
        "Level 3",
        "Level 4",
        "Level 5",
        "Level 6",
        "Level 7",
        "Level 8",
        "Level 9",
        "Level 10",
        "Level 10A",
        "Level 11",
        "Level 11A",
        "Level 12",
        "Level 13",
        "Level 13A",
        "Level 14",
      ],
      govts: [
        { label: "Father", value: "Father", color: "green" },
        { label: "Mother", value: "Mother", color: "green" },
        { label: "Both parent", value: "Both parent", color: "green" },
        { label: "None", value: "None", color: "green" },
      ],

      relations: [
        { label: "Father", value: "Father", color: "green" },
        { label: "Mother", value: "Mother", color: "green" },
        { label: "Spouse", value: "Spouse", color: "green" },
        { label: "Guardian", value: "Guardian", color: "green" },
      ],
      relation: ref(""),
      govt: ref(""),
    };
  },

  components: {
    Uploaded,
  },
};
</script>
<style>
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */

.stepper__content,
.q-panel-parent {
  display: none;
  background: olive !important;
}

.q-stepper__title {
  font-size: 10px !important;
  /* color: aqua !important; */
}
.q-stepper__tab {
  /* background: bisque; */
  padding: 0 !important;
  margin: 0 !important;
}

.q-stepper__header--alternative-labels .q-stepper__tab {
  min-height: 0;
}
.bg-green {
  background: #3a66b5 !important;
}
.customBtn {
  color: white !important;
  background: #3a66b5 !important;
}
.q-card {
  box-shadow: none !important;
}

.block {
  font-size: 9px !important;
}
</style>
