<template>
  <div class="custom-border q-mt-md">
    <div
      style="position: relative"
      class="row my-card q-pb-xl justify-start full-width q-col-gutter-md"
    >
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card
          style="max-width: 400px"
          class="bg-green-4 text-white q-pa-none"
        >
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-weight-light">45</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center text-caption">
                Completed Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card
          style="max-width: 400px"
          class="bg-orange-5 text-white q-pa-none"
        >
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-weight-light">45</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center text-caption">
                Ongoing applications
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 q-pr-sm col-sm-5 col-xs-4 col-lg-3">
        <q-card style="max-width: 400px" class="bg-blue-4 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-weight-light">45</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center text-caption">
                Unpaid applications
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
    </div>
    <div class="row my-card2 q-mt-xl q-px-md justify-start q-col-gutter-md">
      <div class="col-md-4 col-sm-5 col-xs-6 col-lg-3">
        <q-card style="min-width: 100% !important">
          <q-item clickable>
            <q-item-section>
              <q-item-label class="text-caption"
                >Ongoing Request</q-item-label
              >
            </q-item-section>
          </q-item>

          <q-item clickable>
            <q-item-section>
              <q-item-label class="text-caption">Sample form</q-item-label>
              <q-item-label caption lines="2"
                >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                adipiscit elit.</q-item-label
              >
            </q-item-section>

            <q-item-section side top>
              <q-icon name="chevron_right" color="grey" />
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6 col-lg-3">
        <q-card style="min-width: 100% !important">
          <q-item clickable>
            <q-item-section>
              <q-item-label class="text-caption"
                >Completed Request</q-item-label
              >
            </q-item-section>
          </q-item>

          <q-item clickable>
            <q-item-section>
              <q-item-label class="text-caption">Sample form</q-item-label>
              <q-item-label caption lines="2"
                >Secondary line text. Lorem ipsum dolor sit amet, consectetur
                adipiscit elit.</q-item-label
              >
            </q-item-section>

            <q-item-section side top>
              <q-icon name="chevron_right" color="grey" />
            </q-item-section>
          </q-item>
        </q-card>
      </div>
    </div>
    <div
      style="margin-top: 80px !important"
      class="row justify-evenly q-px-md q-col-gutter-md"
    >
      <q-toolbar>
        <q-toolbar-title class="text-body1"
          >Available services</q-toolbar-title
        >
      </q-toolbar>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card
          style="max-width: 400px"
          class="bg-green-5 text-white q-pa-none"
        >
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                Income Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card style="max-width: 400px" class="bg-red-4 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                No Income Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card style="max-width: 400px" class="bg-grey-6 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                Residential Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
    </div>

    <div class="row q-mt-md justify-evenly q-px-md q-col-gutter-md">
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card style="max-width: 400px" class="bg-pink-3 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                Tribal Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card style="max-width: 400px" class="bg-cyan-9 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                Permanent Residentaial
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-4 col-lg-3">
        <q-card
          style="max-width: 400px"
          class="bg-orange-6 text-white q-pa-none"
        >
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-caption">Apply</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-left text-caption">
                Residential Certificate
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
    </div>

    <div class="row q-mt-md justify-evenly q-px-md q-col-gutter-md">
      <q-toolbar>
        <q-toolbar-title class="text-weight-thin"
          >Miscellaneous services</q-toolbar-title
        >
      </q-toolbar>
       <div class="col-md-4 col-sm-5 col-xs-6 col-lg-3">
        <q-card style="max-width: 400px" class="bg-green-5 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-weight-light q-ml-sm">Track</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item-section side>
              <q-img
                fit="scale-down"
                style="width: 40px;position: absolute;top:10px;right:0;opacity: 0.4;"
                src="~assets/doc.svg"
              >
              </q-img>
            </q-item-section>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center text-caption">
                Application
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6 col-lg-3">
        <q-card style="max-width: 400px" class="bg-red-4 text-white q-pa-none">
          <q-item style="min-height: 0px !important" class="q-pa-sm">
            <q-item-section class="q-pa-none">
              <q-item-label class="text-center"
                ><strong class="text-weight-light q-ml-md">Generate</strong>
              </q-item-label>
              <!-- <q-item-label class="text-center">
                Completed Certificate
              </q-item-label> -->
            </q-item-section>
            <q-item-section side>
              <q-icon name="chevron_right" color="white" />
            </q-item-section>
          </q-item>

          <q-item-section side>
             <q-img
                fit="scale-down"
                style="width: 40px;position: absolute;top:10px;right:0;opacity: 0.4;"
                src="~assets/report.svg"
              >
              </q-img>
            </q-item-section>

          <q-item class="q-pt-none">
            <q-item-section class="q-pa-none">
              <q-item-label class="q-mr-lg text-center text-caption">
               Report
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card>
      </div>
      
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dashboard: {},
    };
  },
  mounted() {
    this.$axios
      .get("dashboard")
      .then((response) => {
        this.dashboard = response.data;
      })
      .catch((error) => {
        console.log("error", error.message);
      });
  },
};
</script>

<style>
.my-card {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: linear-gradient(87deg, #11cdef, #1171ef);
}

.q-card {
  border-radius: 10px;
}

.my-card2 {
  position: absolute;
  top: 130px;
}

.q-item {
  min-height: 0px !important;
}
</style>
