<template>
  <div
    style="width: 100%"
    class="row full-width absolute-center justify-center"
  >
    <div class="q-mb-xl col-xxl-12 col-xs-12 q-gutter-md q-pa-md">
      <!-- <div class="text-center text-weight-light text-h4">Login</div> -->
      <div class="text-center">
        <q-img
          
          style="
            width: 156px;
            height: 132px;
            margin: 0 66px 30px 74px;
            object-fit: contain;
          "
          src="~assets/e-services-logo.svg"
        />
      </div>
      <!-- <div class="text-weight-thin text-h4">Mizoram e-District</div> -->
      <!-- <div class="q-gutter-md " > -->
      <q-form class="q-mt-lg" @submit="onLogin">
        <!-- {{ formData.email }} -->
        <!-- store value: {{ $store.state.estore.user }} and {{ login }} -->
        <!-- <q-card class="q-pa-md col"> -->
        <q-input
          outlined
          clearable
          color="primary"
          v-model="formData.email"
          placeholder="Username/email id"
          class="q-mb-md "
        />

        <!-- equivalent -->
        <q-input
          outlined
          color="primary"
          type="password"
          v-model="formData.password"
          placeholder="Password"
        >
          <template v-if="password" v-slot:append>
            <q-icon
              name="cancel"
              @click.stop="text = null"
              class="cursor-pointer"
            />
          </template>
        </q-input>

        <q-btn
          class="q-mt-md full-width login text-white"
          style="background: #0ecb73"
          size="lg"
          type="submit"
          label="Login"
        ></q-btn>
        <q-btn
          class="q-mt-sm signupL full-width"
          color="primary"
         
          outline
          to="/signup"
          size="lg"
          label="Signup"
        ></q-btn>
        <!-- </q-card> -->
      </q-form>


        <div class="absolute-bottom text-center">
          <router-link  class="services" to="/" style="text-decoration:none;">
                View services <span><q-icon name="chevron_right" /></span>
                </router-link >
        </div>

      <!-- clear-icon -->
      <!-- </div> -->
    </div>
  </div>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore, mapMutations } from "vuex";
import { api } from "../boot/axios";
import { useQuasar } from 'quasar'

import axios from "axios";

const alerts = [
  { color: 'negative', message: 'Woah! Danger! You are getting good at this!', icon: 'report_problem' },
 
]

export default {
  setup(props, context) {
     const $q = useQuasar()
    const $store = useStore();
    const login = computed({
      // console.log('dsjsiodhigb');
      get: () => $store.state.estore.user,
      set: (val) => {
        $store.commit("estore/setLogin", "hello");
      },
      // console.log('sfdf');
    });

    // ...mapMutations("estore", ["setLogin"]),

    const setLogin = () => {
      $store.commit("estore/setLogin", "hello");
    };

    const showNotif = () => {
      $q.notify({
        message: 'Account created! You can login now',
        color: 'warning',
        position: 'top',
         
      })
    } 
    const email = ref("");
    const password = ref("");

    const formData = ref({
      email: "",
      password: "",
    });

    onMounted(() => {
      showNotif();
      console.log("mounted hook", context);
      //   context.$axios.get('ds')
      //     .then(res => console.log(res))
    });

    const onLogin = () => {
      console.log(formData.value.password);
      axios.defaults.withCredentials = true;
      // axios.defaults.common['Access-Control-Allow-Origin'] = '*';
      axios.defaults.baseURL = "http://127.0.0.1:8000/api/";

      api
        .post("login", formData.value)
        .then((res) => {
          console.log("data", res.data);
          api.defaults.headers[
            "Authorization"
          ] = `Bearer ${res.data.tokens.access}`;

          localStorage.setItem("user", JSON.stringify(res.data));
        })
        .catch((err) => {
          console.log(err);
        });

      api
        .get("/user-applications/dashboard")

        .then((res) => {
          console.log("success auth", res.data);
          // api.defaults.headers['Authorization'] = `Bearer ${res.data.data.tokens.access}`;
        })
        .catch((err) => {
          console.log(err);
        });
    };

    return {
      email,
      password,
      formData,
      onLogin,
      $store,
      login,
      setLogin,
      showNotif
    };
  },
};
</script>

<style>
.q-mt-none {
  margin-top: 0;
  text-align: center;
}
.login {
  width: 296px; 
  height: 40px;
  margin: 20px 0 12px;
  /* /* padding: 8px 119px; */
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  /* background-color: #0ecb73; */
}

.services {
  width: 88px;
  /* height: 16px; */
  /* margin: 204px 0 4px 92px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a66b5;
}

.signupL {
 
  border-radius: 6px;
  
}

</style>
