<template>
  <div
    style="width: 100%"
    class="row full-width absolute-center justify-center"
  >
  <transition name="fade">
    <div v-if="!hasOTP" class="col-xxl-12 col-xs-10 q-gutter-md q-pa-md">
      <!-- <div class="text-center text-weight-light text-h4">Login</div> -->
      <div class="text-center signup">Sign up</div>
      <!-- <div class="text-weight-thin text-h4">Mizoram e-District</div> -->
      <!-- <div class="q-gutter-md " > -->
      <q-form class="q-mt-lg" @submit="onSubmit">
        <q-input
          outlined
          class="q-pt-md"
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          clearable
          color="primary"
          v-model="formData.name"
          placeholder="Full Name"
        />

        <!-- <q-card class="q-pa-md col"> -->
        <q-input
          outlined
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          clearable
          color="primary"
          v-model="formData.email"
          placeholder="Email"
        />

        <!-- equivalent -->
        <q-input
          outlined
          clearable
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          color="primary"
          v-model="formData.password"
          placeholder="Password"
        />
         

        <q-input
          outlined
          clearable
          :rules="[
            (val) =>
              this.formData.password == this.formData.confirm_password ||
              'Password do not match',
          ]"
          color="primary"
          v-model="formData.confirm_password"
          placeholder="Confirm Password"
        />
         

        <q-input
          outlined
          clearable
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          color="primary"
          class="q-pt-none"
          v-model="formData.phone_no"
          placeholder="Phone"
        />
          

        <q-input
          outlined
          :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          color="primary"
          v-if="hasOTP"
          v-model="formData.otp"
          placeholder="OTP"
          clearable
        />
         
        <q-btn
          class="q-mt-md full-width text-white"
          style="background: #3a66b5"
          size="lg"
          type="submit"
          label="Next"
        ></q-btn>
        <q-btn
          class="q-mt-md full-width back"
          outline
          to="/login"
          size="lg"
          label="Back"
        ></q-btn>
        <!-- </q-card> -->
      </q-form>

      <!-- clear-icon -->
      <!-- </div> -->
    </div>
  </transition>

    <!-- <transition name="fade"> -->
      <otp-page @setOtp="onSetOtp" :otps="otps" v-if="hasOTP" />
    <!-- </transition> -->
  </div>
</template>

<script> 
import { ref, onMounted } from "vue";
import { api } from "src/boot/axios";
import OtpPage from "../components/OtpPage.vue";
import { useQuasar } from "quasar";
export default {
  components: {
    OtpPage,
  },


  setup() {
    const $q = useQuasar();

    const onSetOtp = () => {
      console.log('onsetotsp',hasOTP.value);
      hasOTP.value = false
    }

    const otps = ref({
      one: "",
      two: "",
      three: "",
      four: "",
      five: "",
      six: "",
    });
    // const hasO
    const formData = ref({
      name: "rfd",
      email: "example@email.com",
      password: "pp",
      confirm_password: "pp",
      phone_no: "656555",
      otp: "",
    });

    const hasOTP = ref(false);

    // const

    onMounted(() => {
      console.log("mounted hook");
    });

    const onSubmit = () => {
      hasOTP.value = true;
      return
      api.post("/send-otp", formData.value).then((res) => {
        hasOTP.value = true;
      });
    };

    return {
      formData,
      hasOTP,
      onSubmit,
      otps,
      onSetOtp
    };
  },
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 0.4s;
}
.fade-enter {
  transform: translate(100%, 0);
}

.fade-leave-to {
  transform: translate(-100%, 0);
}
.signup {
  /* width: 111px; */
  /* height: 44px; */
  /* margin: 0 93px 20px 92px; */
  font-family: Lato;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.56px;
  text-align: center;
  color: #404040;
}

.back {
  width: 110px;
  height: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #383838;
}

.resend {
  /* width: 77px;
  height: 16px; */
  margin: 20px 18px 48px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3a66b5;
}
</style>
