<template>
  <div class=" q-col-gutter-md row justify-center q-gutter-md">
    <div class="col">
      <q-form @submit="onTrack">
      <!-- <q-card style="width:100%" class=" my-card"> -->
      <q-card-section>
        <div class="text-h6 text-body1">Application verification</div>
      </q-card-section>

      <q-card-section>
        <q-input outlined v-model="trackID" label="Enter application number" />
      </q-card-section>

      <q-separator dark />

      <q-card-actions>
        <q-btn :disabled="!trackID.length" type="submit" class="full-width" color="secondary">Track</q-btn>
        <!-- <q-btn flat>Action 2</q-btn> -->
      </q-card-actions>
      <!-- </q-card> -->
      </q-form>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  setup() {
    const trackID = ref('')

    function onTrack() {
      console.log('trackId: ',trackID.value);
    }
    return {
      trackID,
      onTrack
    }
  },
}
</script>

