<template>
  <div class="col-xxl-12 col-xs-12 q-pa-md">
    <!-- <div class="text-center text-weight-light text-h4">Login</div> -->
    <div class="text-center signup">Enter OTP</div>
    <div class="flex flex-center">
      <q-form @submit.prevent="onSubmit">
        <!-- <q-input class="otpinput"></q-input> -->

        <!-- <v-otp-input
          ref="otpInput"
          input-classes="otp-input"
          separator="-"
          :num-inputs="4"
          :should-auto-focus="true"
          :is-input-num="true"
          @on-change="handleOnChange"
          @on-complete="handleOnComplete"
        /> -->

        <input
          @click.right.prevent
          ref="oneRef"
          type="number"
          maxlength="1"
          @focus="select"
          @keyup="check($event, $refs)"
          autofocus
          pattern="\d*"
          class="otpinput"
          v-model="otps.one"
        />
        <input
          ref="twoRef"
          @focus="select"
          @keyup.delete="deleteF($refs, '1')"
          @keyup="check($event, $refs)"
          pattern="\d*"
          maxlength="1"
          class="otpinput"
          type="number"
          v-model="otps.two"
        />
        <input
          ref="threeRef"
          @focus="select"
          @keyup.delete="deleteF($refs, '2')"
          @keyup="check($event, $refs)"
          pattern="\d*"
          maxlength="1"
          class="otpinput"
          type="number"
          v-model="otps.three"
        />
        <input
          ref="fourRef"
          @focus="select"
          @keyup.delete="deleteF($refs, '3')"
          @keyup="check($event, $refs)"
          pattern="\d*"
          maxlength="1"
          class="otpinput"
          type="number"
          v-model="otps.four"
        />
        <input
          ref="fiveRef"
          @focus="select"
          @keyup.delete="deleteF($refs, '4')"
          @keyup="check($event, $refs)"
          pattern="\d*"
          maxlength="1"
          class="otpinput"
          type="number"
          v-model="otps.five"
        />
        <input
          ref="sixRef"
          @keyup="onSubmit"
          pattern="\d*"
          maxlength="1"
          class="otpinput"
          type="number"
          v-model="otps.six"
        />

        <!-- <q-input outlined v-model="otp.one" class="q-mb-md" />
          <q-input outlined v-model="otp.two" class="q-mb-md" />
          <q-input outlined v-model="otp.three" class="q-mb-md" />
          <q-input outlined v-model="otp.four" class="q-mb-md" />
          <q-input outlined v-model="otp.five" class="q-mb-md" />
        <q-input outlined v-model="otp.six" class="q-mb-md" /> -->
      </q-form>
    </div>
    <div class="text-center resend q-mt-none">
      <router-link to="/" style="text-decoration:none;">
      Resend OTP
      </router-link >
      </div>

    <!-- <q-btn
      class="q-mt-none confirm full-width text-white"
      style="background: #3a66b5"
      size="lg"
      type="submit"
      label="Confirm"
    ></q-btn>
    <q-btn
      class="q-mt-md full-width back"
      outline
      @click="toogleOtp"
      size="lg"
      label="Back"
    ></q-btn> -->
  </div>
</template>

<script>
import { onMounted, ref, emits } from "vue";

import { useQuasar } from "quasar";
// import OTPInput from "vue-otp-input";
// import OtpInput from "@bachdgvn/vue-otp-input";
export default {
  name: "otp",

  emits: ["setOtp"],

  setup(_, context) {
    const q = useQuasar();
    const otps = ref({
      one: "",
      two: "",
      three: "",
      four: "",
      five: "",
      six: "",
    });

    onMounted(() => {
      console.log("props", context);

      // context.ref.oneRef.focus();
      // ref.oneRef.autofocus();
      // otps.value.one:
      console.log("otps one value", otps.value.one);
    });

     const onSubmit = () => {
       console.log('submitted');
     };

    const toogleOtp = () => {
      // console.log('jknj');
      context.emit("setOtp");
    };

    // const oneRef = ref

    const otp = ref(null);
    const isDisabled = ref(false);
    const isError = ref(false);
    const shouldResetOTP = ref(false);

    const handleOnComplete = (value) => {
      console.log("OTP: ", value);
    };

    const select = (event) => {
      event.target.select();

      // if(event.target.)
      // console.log('selected');
    };

    const deleteF = (ref, key) => {
      // var key = key;
      switch (key) {
        case "1":
          console.log("case 1");
          ref.oneRef.focus();
          // otps.value.value = "";
          break;
        case "2":
          console.log("case 2");
          // otps.value.two = "";
          ref.twoRef.focus();
          break;

        case "3":
          console.log("case 3");
          // otps.value.three = "";
          ref.threeRef.focus();
          break;
        case "4":
          // otps.value.four = "";1w
          console.log("case 4");
          ref.fourRef.focus();
          break;
        case "5":
          // otps.value.five = "";1w
          console.log("case 5");
          ref.fiveRef.focus();
          break;

        case "6":
          // otps.value.six = "";1w
          console.log("case 6");
          ref.sixRef.focus();
          break;

        default:
          console.log("default");
      }
      // console.log('delete',ref.oneRef.focus());
      // if(event.target.)
      // console.log('selected');
    };

    const onChangeOTP = (otp) => {
      otp.value = otp;
    };

    const handleOnChange = (value) => {
      console.log("OTP: ", value);
    };

    const check = (event, value) => {
      // otps.value.one = '';
      // event.target.select();

      console.log("ots value", otps.value.one);

      if (Number(event.target.value)) {
        event.target.nextElementSibling.focus();
      } else {
        console.log("else block", value);
        value = "";
      }
      // if (event.key.length) console.log("event", event.key.length);

      // event.target.nextElementSibling.focus();
    };

    

   

    return {
      otps,
      onSubmit,
      check,
      handleOnComplete,
      handleOnChange,
      onChangeOTP,
      otp,
      select,
      isDisabled,
      isError,
      shouldResetOTP,
      deleteF,
      toogleOtp,
    };
  },
};
</script>

<style scoped>
.otpinput {
  width: 40px !important;
  height: 48px !important;
  margin: 40px 11px 20px 0 !important;
  padding: 12px 14px !important;
  border-radius: 4px !important;
  border: solid 1px #979797 !important;
  background-color: #fff !important;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.confirm {
  border-radius: 6px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.back {
   border-radius: 6px;
  /* border: solid 1px #383838; */
}
.q-field__native,
.q-placeholder {
  width: 12px !important;
  height: 24px !important;
  font-family: Roboto !important;
  font-size: 20px !important;
  font-weight: normal !important;
  font-stretch: normal;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #484848 !important;
}
</style>
