<template>
  <div class="q-pa-sm bg-deep-purple-1 full-width q-mt-md q-col-gutter-xs">
    <q-card>
      <q-card-section class="q-pt-none">
        <span class="my-title"
          >Verify the information and upload documents below</span
        >
        <div class="my-title">Certificate Applied:</div>
        <div class=""></div>
      </q-card-section>
    </q-card>
    <!-- Application information -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header>Application form</q-item-label>
        <q-item clickable v-ripple>
          <q-item-section>Application name</q-item-section>
          <q-item-section avatar> John Doe </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>Date of birth</q-item-section>
          <q-item-section avatar> 1995-10-13 </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Gender</q-item-section>
          <q-item-section avatar> Male </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Place of Birth</q-item-section>
          <q-item-section avatar> Aizawl,Mizoram </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Father's Name</q-item-section>
          <q-item-section avatar> Brad Traversy </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Mother's Name</q-item-section>
          <q-item-section avatar> Jesicca </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Email</q-item-section>
          <q-item-section avatar> example@email.com </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Relationship to display</q-item-section>
          <q-item-section class="text-break">
            dhsjhfrdgfi fhoiyfhohdeiuf rheoirheorhet
          </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Relation name</q-item-section>
          <q-item-section avatar> Lorem isum </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Application is below 18 years</q-item-section>
          <q-item-section avatar> No </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Related EPIC Holder</q-item-section>
          <q-item-section avatar> Father </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Name of the holder</q-item-section>
          <q-item-section avatar> Hall Hawkins </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Epic No</q-item-section>
          <q-item-section avatar> 8585212488 </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Constituency</q-item-section>
          <q-item-section avatar> Lorem isum </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Application information -->

    <!-- Application Address -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header>Applicant Address</q-item-label>
        <q-separator spaced />
        <q-item-label class="text-subtitle" header>Present Address</q-item-label>

        <q-item clickable v-ripple>
          <q-item-section>Full house address</q-item-section>
          <q-item-section avatar> ITI Veng, Aizawl </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>City</q-item-section>
          <q-item-section avatar> Aizawl </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>District</q-item-section>
          <q-item-section avatar> Aizawl </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Pincode</q-item-section>
          <q-item-section avatar> 796001 </q-item-section>
        </q-item>

        <q-separator spaced />
        <q-item-label class="text-subtitle" header>Permanant Address</q-item-label>
        <q-item clickable v-ripple>
          <q-item-section>Full house address</q-item-section>
          <q-item-section avatar> ITI Veng, Aizawl </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>City</q-item-section>
          <q-item-section avatar> Aizawl </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>District</q-item-section>
          <q-item-section avatar> Aizawl </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Pincode</q-item-section>
          <q-item-section avatar> 796001 </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Applicant Address -->

    <!-- Income Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >Income certificate details</q-item-label
        >
        <q-separator spaced />

        <q-item clickable v-ripple>
          <q-item-section>Father's occupation</q-item-section>
          <q-item-section avatar> Govt Employee </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>Father's income</q-item-section>
          <q-item-section avatar> Rs 56,100</q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Mother's occupation</q-item-section>
          <q-item-section avatar> Account Officer</q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Mother's income</q-item-section>
          <q-item-section avatar> 30,000 </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Parent's payscale</q-item-section>
          <q-item-section avatar> Fr. Level 1A, Mo. Level 1A </q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section class="text-bold">Total annual income</q-item-section>
          <q-item-section avatar> Rs 78,300</q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Income Certificate details -->

    <!-- No Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >No certificate details</q-item-label
        >
        <q-separator spaced />

        <q-item clickable v-ripple>
          <q-item-section>Father's income</q-item-section>
          <q-item-section avatar> Rs.334,44 </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>Mothers's income</q-item-section>
          <q-item-section avatar> Rs 56,100</q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section class="text-bold">Total annual income</q-item-section>
          <q-item-section avatar> Rs 78,300</q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- No Certificate details -->

    <!-- Residentaial Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >Residential certificate details</q-item-label
        >
        <q-separator spaced />

        <q-item clickable v-ripple>
          <q-item-section>Name of Grandfather</q-item-section>
          <q-item-section avatar> Roman Rollins </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>locality</q-item-section>
          <q-item-section avatar> Republic Veng</q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Residential Certificate details -->

    <!-- Tribal Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >Tribal certificate details</q-item-label
        >
        <q-separator spaced />

        <q-item clickable v-ripple>
          <q-item-section>Name of Tribe/Caste</q-item-section>
          <q-item-section avatar> Khawaz </q-item-section>
        </q-item>
        <q-item clickable v-ripple>
          <q-item-section>Name of Clan/Caste</q-item-section>
          <q-item-section avatar> Naga</q-item-section>
        </q-item>

        <q-item clickable v-ripple>
          <q-item-section>Father's Tribe/Caste</q-item-section>
          <q-item-section avatar> Khawaz </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>Mother's Clan/Caste</q-item-section>
          <q-item-section avatar> Naga</q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Tribal Certificate details -->

    <!-- Residentaial Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >Permanent Residential certificate details</q-item-label
        >
        <q-separator spaced />

        <q-item clickable v-ripple>
          <q-item-section>Name of Grandfather</q-item-section>
          <q-item-section avatar> Roman Rollins </q-item-section>
        </q-item>
        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section>Name of locality</q-item-section>
          <q-item-section avatar> Republic Veng</q-item-section>
        </q-item>

        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section> From </q-item-section>
          <q-item-section avatar>1995-12-18</q-item-section>
        </q-item>

        <q-item class="q-pt-none" clickable v-ripple>
          <q-item-section> To </q-item-section>
          <q-item-section avatar>2020-12-18</q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Residential Certificate details -->

    <!-- Purpose Certificate details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item clickable v-ripple>
          <q-item-section>Purpose of certificate</q-item-section>
          <q-item-section avatar> jlkds fjsf </q-item-section>
        </q-item>
      </q-list>
    </q-card>
    <!-- Purpose Certificate details -->

    <!-- Upload Documents details -->
    <q-card class="q-mt-md">
      <q-list bordered>
        <q-item-label class="text-subtitle" header
          >Upload your documents</q-item-label
        >
        <q-separator spaced />
        <q-item clickable v-ripple>
          <q-item-section>
            <q-item-ection avatar>
              <q-file
                filled
                bottom-slots
                v-model="model"
                label="Voter's ID"
                counter
                max-files="12"
              >
                <template v-slot:before>
                  <q-icon name="folder_open" />
                </template>

                <template v-slot:hint>
                  Passport size photo (Max size 1mb)
                </template>

                <template v-slot:append>
                  <q-btn round dense flat icon="add" @click.stop />
                </template>
              </q-file>
            </q-item-ection>
          </q-item-section>
        </q-item>

        <q-item class="q-pa-none q-mt-md" clickable v-ripple>
          <q-checkbox
            v-model="agree"
            label="I agree that all documents are verified and under the rules and regulations of the Government of Mizoram
"
          />
        </q-item>

        <q-item class="q-mt-md q-pb-md" clickable v-ripple>
          <q-item-section
            ><q-btn color="grey" outline dense label="Back"
          /></q-item-section>
          <q-item-section
            ><q-btn
              class="e-btn"
              :disable="!agree"
              dense
              color="secondary"
              label="Submit"
          /></q-item-section>
        </q-item>
      </q-list>
    </q-card>

    <!-- Upload Documents details -->
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      model: ref(null),
      agree: ref(false),
    };
  },
};
</script>

<style>
.text-break {
  color: aquamarine;
  word-break: break-all;
  align-items: flex-end;
}
</style>
