// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.q-card {
  font-family: 'Roboto', sans-serif;
  // font-weight: 100;
  font-size: 13px;
  // color: ;
}
.my-title {
  font-size: 12px;
  // color: green;
}

.e-btn {
  background: #3a66b5 !important;
}
#q-app
  > div
  > div.q-drawer-container
  > aside
  > div
  > div.q-img.q-img--menu.customImg
  > div.q-img__container.absolute-full
  > img {
  width: 40%;
}

.block-card {
  // height: 600px;
  // width: 936px;
  background-color: #484848;
}

#q-app
  > div
  > div.q-toolbar.row.no-wrap.items-center.text-primary.q-pb-lg
  > button.q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-btn--rectangle.q-btn--rounded.text-secondary.q-btn--actionable.q-focusable.q-hoverable.q-btn--dense.q-btn-dropdown.q-btn-dropdown--simple.q-pt-md
  > span.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row.no-wrap.text-no-wrap
  > i.notranslate.material-icons.q-icon.q-btn-dropdown__arrow.q-btn-dropdown__arrow-container {
  display: none;
}
