<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header class="bg-secondary" elevated> -->
    <q-toolbar class="text-primary q-pb-lg">
      <q-btn
        flat
        dense
        round
        color=""
        icon="menu"
        aria-label="Menu"
        @click="toggleLeftDrawer"
      />

      <q-toolbar-title class="q-pt-md">
        <q-img
          fit="scale-down"
          style="width: 100px; margin-top: -5px; padding-bottom: 20px"
          src="~assets/e-logo.svg"
        >
          <!-- <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <div class="text-weight-bold">Razvan Stoenescu</div>
            <div>@rstoenescu</div>
          </div> -->
        </q-img>
      </q-toolbar-title>

      <q-btn-dropdown class="q-pt-md" dense rounded flat icon="account_circle" color="secondary">
        <q-list class="q-pa-sm">
          <q-item
            style="min-height: 0 !important"
            to="/profile"
            clickable
            v-close-popup
          >
            <q-item-section>
              <q-item-label>Profile</q-item-label>
            </q-item-section>
          </q-item>

          <q-item
            style="min-height: 0 !important"
            to="/admin"
            clickable
            v-close-popup
          >
            <q-item-section>
              <q-item-label>Roles</q-item-label>
            </q-item-section>
          </q-item>

          <q-item
            style="min-height: 0 !important"
            @click="logout"
            clickable
            v-close-popup
          >
            <q-item-section>
              <q-item-label>Logout</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-toolbar>
    <!-- </q-header> -->

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered class="bg-grey-1">
      <q-img
      class="customImg"
        fit="scale-down"
        style="object-position: 10% 50 !important%; margin-left:20px; position: relative"
        src="~assets/e-logo.svg"
      >
        <!-- <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <div class="text-weight-bold">Razvan Stoenescu</div>
            <div>@rstoenescu</div>
          </div> -->
      </q-img>
      <q-list>
        <q-item-label header class="text-weight-bold">
          Your Applications
        </q-item-label>

        <q-item clickable class="q-ml-md">
          <q-item-section>
            <q-item-label>Completed</q-item-label>
            <!-- <q-item-label caption>
        {{ caption }}
      </q-item-label> -->
          </q-item-section>
        </q-item>

        <q-item clickable class="q-ml-md">
          <q-item-section>
            <q-item-label>Ongoing</q-item-label>
            <!-- <q-item-label caption>
        {{ caption }}
      </q-item-label> -->
          </q-item-section>
        </q-item>
      </q-list>

      <q-list>
        <q-item-label header class="text-weight-bold">
          Commonn Applications
        </q-item-label>

        <q-item to="/apply" clickable class="q-ml-md">
          <q-item-section>
            <q-item-label>Apply Certificate</q-item-label>
            <!-- <q-item-label caption>
        {{ caption }}
      </q-item-label> -->
          </q-item-section>
        </q-item>

        <q-item clickable class="q-ml-md">
          <q-item-section>
            <q-item-label>Saved Draft</q-item-label>
            <!-- <q-item-label caption>
        {{ caption }}
      </q-item-label> -->
          </q-item-section>
        </q-item>
        <q-item to="/tracking" clickable class="q-ml-md">
          <q-item-section>
            <q-item-label>Track Application</q-item-label>
            <!-- <q-item-label caption>
        {{ caption }}
      </q-item-label> -->
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
// import EssentialLink from 'components/EssentialLink.vue'

import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  setup() {
    const leftDrawerOpen = ref(true);

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
});
</script>

<style lang="scss">
.q-img__image {
  object-position: 0% 50%;
}
// .q-img__image{
//   margin-left:20px;
//   width: 40%;
// }


</style>
